html {
    height: 100%;
    font-size: 62.5%;
}
body {
    height: 100%;
    font-family: serif;
    background-color: white;
}
.main_slide{
    height: 100%;
}
.Cover_Right{
    position: absolute;
    top: 0%;
    right: 0%;
    width        : 10%;
    height       : 100%;
    background   : linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff7d);
}
.Cover_Left{
    position: absolute;
    top: 0%;
    left: 0%;
    width        : 10%;
    height       : 100%;
    background   : linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff7d);
}
.Arrow_Right {
    position: absolute;
    top: 45%;
    right: 3%;
    border-top: solid 12px #ffffff;
    border-right: solid 12px #ffffff;
    width: 72px;
    height: 72px;
    transform: rotate(45deg);
}
.Arrow_Left {
    position: absolute;
    top: 45%;
    left: 3%;
    border-bottom: solid 12px #ffffff;
    border-left: solid 12px #ffffff;
    width: 72px;
    height: 72px;
    transform: rotate(45deg);
}
/* .main_slide iframe{
    border-radius: 20px;
} */
/* @media screen and (min-width:480px) and ( max-width:600px){
    .main_slide{
        height: 50%;
    }
}

@media screen and (min-width:600px) and ( max-width:1050px) {
    .main_slide{
        height: 100%;
    }
}

@media screen and (min-width:1050px) {
    .main_slide{
        height: 100%;
    }
} */
