html {
    height: 100%;
    font-size: 62.5%;
}
body {
    height: 100%;
    font-family: serif;
    background-color: white;
}
h1{
    margin: 1%;
    font-size: 5rem;
}
.main_slide{
    height: 100%;
}
.main_slide iframe{
    border-radius: 20px;
}
#arrowR{
    position: relative;
    width: 10%;
    height: 10%;
    top: 20px;
    left: 20%;
}
#arrowL{
    position: relative;
    width: 10%;
    height: 10%;
    top: 20px;
    right: 20%;
}